<div class='main-card'>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>LOG IN:</mat-card-title>
      <mat-card-subtitle>Log in to manage the Star Wars Game Show contestants!</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://i.redd.it/l3fya3oustw41.jpg" alt="Cast crew photo">
    <mat-card-content class="signForm">
      <mat-form-field appearance="outline" class='singIn_form'>
        <mat-label>User Name:</mat-label>
        <input matInput placeholder="Username" #userName required>
      </mat-form-field>
      <mat-form-field appearance="outline" class='singIn_form'>
        <mat-label>Password:</mat-label>
        <input matInput placeholder="Password" #userPassword required>
      </mat-form-field>
      <a routerLink="/forgot-password">Forgot Password?</a>
      <span>Don't have an account?<a routerLink="/register-user"> Sign Up</a></span>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="authService.SignIn(userName.value, userPassword.value)">SIGN IN</button>
      <button mat-button class="btn googleBtn" (click)="authService.GoogleAuth()"><i class="fab fa-google-plus-g"></i>
        Log in with Google
      </button>
    </mat-card-actions>
  </mat-card>
</div>
